<h1>Nouvelle agence</h1>
<%= form_with model: @agency do |form| %>
  <div class="invalid-feedback d-block">
    <% @agency.errors.each do |error_message| %>
      <%= error_message.full_message %>
    <% end %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>